*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 0;
}

body{
    font-family: 'Nunito';
}

.topbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#a0bed0;
    margin-left: -10px;
    z-index: 0;

}
.container{
    width: 100%;
    margin: -6px -3%;

}

.menu{
    margin-left: 60%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 2%;

}

.menu__item{
    justify-content: space-between;
    font-family: 'Varela Round', sans-serif;
   


    
}

.menu__item a{
    color:white;
    margin-right: 30%;
    text-decoration: none;
}

.header{
    padding-top: 4%;
    background-image: url(../imagem/foto-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


}

.header__conteudo__titulo{
    text-transform: uppercase;
    text-align: center;
    color:white;
    font-size:105px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 17px;
    font-weight: lighter;
    margin-top: 6%;


}

.header__conteudo__paragrafo{

    font-size: 22px;
    color:rgba(255, 255, 255, .9);
    display: flex;
    justify-content: center;
    margin-top: 0%;
    width: 44%;
    margin-left: 31%;
    text-align: center;

}


.botao{
    margin-left: 43%;
    margin-top: 6%;

 

}
.botao__primario{
    text-align:center;
    background-color: #829dad;
    color: white;
    text-decoration: none;
    padding: 20px 32px;
    border-radius: 5%;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;


}

.artigo{
    background-color: black;
    height: 330px;

   
    
}

.artigo__conteudo{
    
    margin: 0 auto;
    width: 55%;
}

.artigo__conteudo__titulo{
    
    width: 108%;
    color: white;
    text-align: center;
    padding: 6%;

    margin-left: -2%;



}

.artigo__conteudo__paragrafo{

    width: 86%;

    margin: 0 auto;
    font-family: 'Nunito';
    color: white;
    text-align: center;

}
