*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 0;
}

body{
    font-family: 'Nunito';
}

.topbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#a0bed0;
    margin: 0 auto;
    z-index: 0;

}

.menu__ham{
    display:none;
}

.container{
    width: 100%;
    margin: -6px -28%;

}

.menu{
    margin-left: 60%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 2%;

}

.menu__item{
    justify-content: space-between;
    font-family: 'Varela Round', sans-serif;
   


    
}

.menu__item a{
    color:white;
    margin-right: 30%;
    text-decoration: none;
}

.section{
    padding-top: 4%;
    background-image: url(../imagem/foto-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


}

.section__conteudo__titulo{
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, .9)
    font-size:105px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 17px;
    font-weight: lighter;
    margin-top: 6%;
    

}

.section__conteudo__paragrafo{

    font-size: 22px;
    color:rgba(255, 255, 255, .9);
    display: flex;
    justify-content: center;
    margin-top: 0%;
    width: 44%;
    margin-left: 31%;
    text-align: center;

}


.botao{
    margin-left: 43%;
    margin-top: 6%;

 

}
.botao__primario{
    text-align:center;
    background-color: #829dad;
    color: white;
    text-decoration: none;
    padding: 20px 32px;
    border-radius: 5%;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;


}

.artigo{
    background-color:rgba(22, 22, 22, .8);
    height: 330px;

   
    
}

.artigo__conteudo{
    
    margin: 0 auto;
    width: 55%;
}


.artigo__conteudo__paragrafo{

    width: 86%;
    margin: 0 auto;
    font-family: 'Nunito';
    color: white;
    text-align: center;

}

@media (max-width:420px){

.topbar{
    background-color: white;
    
}
.menu__ham{
    display: block;
    
}
.section__conteudo__titulo{

font-size: 48px;
letter-spacing: 13px;
margin-top: 43%;
}
    

.section__conteudo__paragrafo{
    font-size: 18px;
    width: 84%;
    margin-left: 7%;   
    padding-bottom: 50px; 
}
.botao__primario{
      
    padding: 20px 30px;
    letter-spacing: 2px;
    margin-left: -36%;
}

.artigo__conteudo__titulo{
    margin: 0 auto;
    font-size: 29px;
    color: white;
    text-align: center;
    padding-top: 170px;
}
.artigo{
    height: 100vh;
}

.artigo__conteudo__paragrafo{

    width: 164%;
    font-family: 'Nunito';
    color: white;
    margin-left: -73px;
    padding-top: 13px;
    line-height: 27px;
}
}

@media (max-width: 960px){

.topbar{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
   
    margin: 0 auto;
    z-index: 0;
}
.menu__ham{
    display: block;
    margin-right: -138px;
}

.section__conteudo__titulo{

    font-size: 80px;
    margin-top: 20%;
    padding: 20px;
    line-height: 83px;
    color: rgba(255, 255, 255, .9)

    }
.section__conteudo__paragrafo{
    font-size: 18px;
    width: 35%;
    margin-left: 32%;
    padding-bottom: 6px;
}

.botao__primario{
  margin-left: -59px;
}

.artigo{
    background-color:rgba(22, 22, 22, .8);
    height: 260px;
}

.artigo__conteudo__paragrafo{

    width: 86%;
    margin: 0 auto;
    font-family: 'Nunito';
    color: white;
    text-align: center;

}
.section{
    padding-top: 4%;
    background-image: url(../imagem/foto-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


}
.section__conteudo{
    height: 100vh;
}




}