*{
    box-sizing: border-box;
}

body{
    font-family: 'Nunito';
    background-image: url(../imagem/foto-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.topbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#a0bed0;
    margin-left: -10px;

}
.container{
    width: 100%;
    margin: -6px -7%;

}

.menu{
    margin-left: 60%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 2%;

}

.menu__item{
    justify-content: space-between;
    font-family: 'Varela Round', sans-serif;

    
}

.menu__item a{
    color:white;
    margin-right: 30%;
    text-decoration: none;
}

.header{
    padding-top: 4%;
}

.header__titulo{
    text-transform: uppercase;
    text-align: center;
    color:white;
    font-size:105px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 17px;
    font-weight: lighter;


}

.header__paragrafo{

    font-size: 22px;
    color:rgba(255, 255, 255, .9);
    display: flex;
    justify-content: center;
    margin-top:-8%;
    width: 44%;
    margin-left: 31%;
    text-align: center;

}


.botao{
    margin-left: 43%;
    margin-top: 6%;

 

}
.botao a{
    text-align:center;
    background-color: #829dad;
    color: white;
    text-decoration: none;
    padding: 20px 32px;
    border-radius: 5%;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;


}

.artigo{
    text-align: center;
}

.artigo__titulo{
    padding-top: 18%;

}

.artigo__paragrafo{

    width: 45%;
    margin-left: 30%;
    font-family: 'Nunito';

}


